.pacman{
    width: 48px;
    height: 48px;
    border: 1 px solid #999;
    background-image: url(images/pacman.png);
    position: absolute;
    z-index: 1;
}

.pacman.explode{
    background-image: url(images/bomb-animation.gif);
}
.bomb{
    width: 48px;
    height: 48px;
    border: 1 px solid #000;
    background-image: url(images/Bomb.png);
    position: absolute;
}

.coin {
    width: 48px;
    height: 48px;
    border: 1 px solid #999;
    background-image: url(images/coin.png);
    position: absolute;
}

#box{
    width: 500px;
    height: 500px;
    border: 5px solid #888;
    position: relative;
}